.overlay {
  position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 1000
}

#modal {
  position: fixed;
  width: 300px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #FFF;
	padding: 50px;
  border: 1px solid rgb(222, 226, 230);
	z-index: 1000
}

@media only screen and (max-width: 768px) {
  #modal {
    width: calc(100% - 4rem) !important;
  }
}
