.job-card {
  margin: 10px;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  list-style-type: none;

  margin: 15px;
}

.job-item-title {
  margin: 0;
}

.job-item.address {
  flex-basis: 30%;
}

.job-item.job {
  flex-basis: 15%;
}

.job-item.deadline {
  flex-basis: 15%;
}

.open-modal-button {
  width: 40px;
  height: 40px;
}

.icon-button-notes {
  width: 20px;
  height: 20px;
}

